[submodule "src/-b"]
	path = src/-b
	url = git://github.com/youbot/youbot_description.git
[submodule "src/externals/youbot"]
	path = src/externals/youbot
	url = git://github.com/youbot/youbot_description.git
[submodule "src/youbot_description"]
	path = src/youbot_description
	url = git://github.com/youbot/youbot_description.git
[submodule "src/youbot_simulation"]
	path = src/youbot_simulation
	url = git://github.com/youbot/youbot_simulation.git
[submodule "src/baxter_common"]
	path = src/baxter_common
	url = https://github.com/RethinkRobotics/baxter_common.git
