[submodule "src/-b"]
	path = src/-b
	url = git://github.com/youbot/youbot_description.git
[submodule "src/externals/youbot"]
	path = src/externals/youbot
	url = git://github.com/youbot/youbot_description.git
[submodule "src/youbot_description"]
	path = src/youbot_description
	url = git://github.com/youbot/youbot_description.git
[submodule "src/youbot_simulation"]
	path = src/youbot_simulation
	url = git://github.com/youbot/youbot_simulation.git
[submodule "src/baxter_common"]
	path = src/baxter_common
	url = https://github.com/RethinkRobotics/baxter_common.git
[submodule "src/gazebo_ros_demos"]
	path = src/gazebo_ros_demos
	url = https://github.com/ros-simulation/gazebo_ros_demos.git
[submodule "src/imu_tools"]
	path = src/imu_tools
	url = https://github.com/ccny-ros-pkg/imu_tools.git
[submodule "src/pr2_simulator"]
	path = src/pr2_simulator
	url = https://github.com/PR2/pr2_simulator.git
